@model UpdateProductVM

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Product</h4>
                <form method="post" enctype="multipart/form-data" class="forms-sample">

                    <div class="form-group">
                        <img style="width:200px;height:150px" src="~/img/@Model.PrimaryImage" />
                        <input type="hidden" asp-for="PrimaryImage" class="form-control">
                    </div>

                    <div class="form-group">
                        <label asp-for="mainPhoto">Image</label>
                        <input asp-for="mainPhoto" accept="image/*" class="form-control" placeholder="Image">
                        <span class="text-danger" asp-validation-for="mainPhoto"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name">Title</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name)))">
                            <option selected disabled>Choose Category</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2"></button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>